              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Estimated Ratings</th>
                    <th>Test Product ID</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for item in result%}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td> {{item.id}}</td>
                      <td>{{item.product_name}}</td>
                      <td>{{item.est_ratings}}</td>
                      <td>{{item.test_id}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->