              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>MAE</th>
                    <th>RMSE</th>
                
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>{{result.mae}}</td>
                        <td>{{result.rmse}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->